.navbar-logo {
    display: inline-flex;
    font-size: 2rem;
    -webkit-text-stroke: thick;
  }
  
  nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-size: 1.5rem;
    width: 100vp;
    
    /* Add some space between the two lists */
    padding-right: 20px;
  }
  
  .nav-menu {
  }
  
  .nav-menu li {
    display: inline;
  }
  
  /* Add some space between the two lists */
  .right {
   
    margin-left: 5px;
  }
  
  .right li {
  }
  