.navbar-logo {
    display: inline-flex;
    font-size: 2rem;
    -webkit-text-stroke: thick;
    
  }
  
  nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-size: 1.5rem;
    width: 100%;
    z-index: 10;
    /* Add some space between the two lists */
    padding-right: 20px;
  }
  
  .nav-menu {

    display: flex;
    gap: 15px;

  }
  
  .nav-menu li {
    display: inline;
    padding: 5px 5px;
  }
  

  .right {
    display: flex;
    margin-left: 5px;
    gap: 10px;

  }
  
  .right li {
    padding:5px 5px;
  }
  
